* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
    background-color: bisque;
}



header,
footer {
    background-color: rgb(237, 14, 237);
    margin-bottom: 1.5rem;
}

h1 {
 padding: 3rem;   
}

nav {
    background-color: rgb(240, 169, 240);
    padding: 1rem;
}

.banner {
    background-color: lawngreen;
    margin-bottom: 1.5rem;
    padding: 18rem 0.375rem;
}

.banner img {
    width: 60rem;
}

.promo {
    background-color: rgb(151, 249, 151);
    padding: 8rem 1rem;
    margin-bottom: 1.5rem;

}

footer {
    background-color: rgb(11, 11, 240);
    padding: 3rem;
}

@media screen and (min-width) {
    .flex-container {
        display: flex;
        gap:2%
    }

    .promo {
        width: calc(96%/3);
    }

}
    
